.list-item{
  margin-bottom: 50px;
}
.ga_type-list {
  color: #bf0016;
  font-weight: 200;
}
.title-post {
  color: #333;
  font-size: 24px;
  font-weight: bolder;
  line-height: 1.21429;
  margin-bottom: 5px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}
.title-post:hover{
  color: #bf0016;
}
.excerpt-post{
  border-bottom: 1px solid rgba(0,0,0,.045);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.043);
  word-wrap: break-word;
  font-size: 16px;
  line-height: 1.4;
  text-overflow: ellipsis;
}

.avatar {
  width: 2.8em;
  height: 2.8em;
  margin-right: 1em;
  border-radius: 50%;
}
.img-post {
  width: 100%;
  border-radius: 3px;
}