.img-post-detail {
  width: 100%;
  margin: 30px 0px;
}

.ga_type-list {
  color: #bf0016;
}
a {
  color: #bf0016;
  text-decoration: none !important;
  background-color: transparent;
}
img {
  width: 100%;
}